<div class="container">
    <br>
    <h3>Registrate</h3>
    <br>
    <div class="form-control">
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre :</span>
            <input type="text" class="nota form-control" id="nomb">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Apellido Paterno:</span>
            <input type="text" class="nota form-control" id="apP">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Apellido Materno:</span>
            <input type="text" class="nota form-control" id="apM">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Correo:</span>
            <input type="text" class="nota form-control" id="correo">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Contraseña:</span>
            <input type="password" class="nota form-control" id="pass">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Confirme Contraseña:</span>
            <input type="password" class="nota form-control" id="pass2">
        </div>
        <br>
        <button type="button" class="btn btn-primary" id="registrarUsuario">Registrar</button>
    </div>
</div>