<div class="input-group input-group-sm mb-3" id="serachByCategoria">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Busqueda por Categoria:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div>
<div class="row">
    <div class="jumbotron col-5">
        <h3>Total Carrito: ${{totalCarrito}} </h3>
        <div *ngFor="let producto of productosCarrito">
            <div class="row">
                <div class="col">
                    {{producto.nombre}} | Cantida: {{producto.stock}}
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="textoDeInput" value={{producto.id}} hidden #idProducto>
                    <button type="submit" class="btn btn-primary btn-sm" (click)="quitarProducto(idProducto.value)">Quitar Producto</button>
                </div>
            </div>
            <br>
        </div>
        <br>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Continuar con la Compra
        </button>
    </div>
    <div class="col">
        <h1>{{mensajeCompra}}</h1>
    </div>
    <div class="box">
        <div *ngFor="let producto of productosService.producto">
            <div class="card" style="width: 18rem;">
                <img src="{{producto.imagen}}" class="card-img-top" alt="..." weight="bold">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}} - ${{producto.precio}}</h5>
                    <h5 class="card-title">Stock: {{producto.stock}}</h5>

                    <p class="card-text">{{producto.descripcion}}</p>
                </div>
                <input type="text" class="form-control" name="textoDeInput" value={{producto.id}} hidden #idProducto>
                <button type="submit" class="btn btn-primary" (click)="agregarProducto(idProducto.value)">Agregar Producto</button>
                <br>
                <button type="submit" class="btn btn-danger" (click)="eliminarProducto(idProducto.value)">Eliminar Producto</button>

            </div>
        </div>
    </div>
</div>

<app-modal [totalCarrito]="totalCarrito"></app-modal>